@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    background-color: #1ABC9C;
    border-radius: 10px;
    width: fit-content;
}

.line{
    width: 80px;
    height: 4px;
}
.star{
    font-size: 20px;
}
.body{
    height: 600px;
}